body{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.right{
    display: flex;
    background-color: blue;
    flex-direction: column;
    
    width: 50%;
}

.left{
    display: flex;
    background-color: blueviolet;
    width: 50%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}